* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS - ALL PAGES */
body{
    width: 95%;
    margin: auto;

    font-family: Geneva, Arial, Helvetica, Tahoma, Verdana, sans-serif;
    background-color: #f6f4f3;
    color: rgb(77, 77, 77);

    display: block;
}

/* INDEX.HTML */
/* <header> and <nav> */

header, nav {
    padding: 20px 40px 10px 40px;
}

.header_container {
    display: flex;
    justify-content: flex-end;
}

.logout_form {
    display: flex;
    justify-content: flex-end;
}

.logout_form button{
    border: none;
    color: darkslategray;
    background-color: #f6f4f3;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}

.login a {
    color: darkslategray;
    text-decoration: none;
    font-size: 15px;
    margin-left: 15px;
    font-weight: bold;
}

.menu a {
    color: darkslategray;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 40px;
}

.login a:hover, .menu a:hover, .logout_form button:hover {
    color: darkgoldenrod;
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
    padding-top: 40px;
}



/* SIGN_UP.HTML */

.logo_sign_up_container a {
    text-decoration: none;
    color: black;
}

.sign_up_container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.sign_up_form_container {
    display: flex;
    justify-content: center;
    border: 3px solid #e4d7cb;
    border-radius: 15px;
    width: 30%;
    padding: 10px;
}

.h2_sign_up {
    width: 100%;
    text-align: left;
    color: darkgoldenrod;
}

.sign_up_form_container form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_up_form_container label{
    display: block;
    width: 100%;
    margin: 15px 0 5px;
    text-align: left;
}

.sign_up_form_container input {
    width: 90%;
    height: 25px;
    margin-bottom: 10px;
}

.button_sign_up button{
    width: 200px;
    color: white;
    background-color: #e4d7cb;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

.button_sign_up button:active {
    opacity: 0.5;
}



